WidgetWidget {
    background-color: rgba(243, 243, 243, 200);
    border-radius: 10px;
}

.LastRecordFrame {
    padding: 0px 10px;
    border-radius: 10px;
}

.StatInfoFrame {
    padding: 20px 50px;
    border-radius: 10px;
}

.AppInfoFrame {
    padding: 0px 0px;
    border-radius: 10px;
}

QLabel {
    /* background-color: aquamarine; */
    padding: 1.25px 10px;

    font-family: 'Segoe UI';
    font-size: 12pt;
    font-weight: 400;
}

#appNameLabel, #appDescriptionLabel{
    font-family: 'Segoe UI';
    font-size: 8pt;
    font-weight: 400;
}
